hr {
    border-color: #ccc;
    border-style: dotted;
    border-width: 1px;
}

#matrizContainer {
    counter-reset: orden-matriz;
}

#matrizContainer form.matriz span.orden::before {
    counter-increment: orden-matriz;
    content: counter(orden-matriz)
}


#btnAgregarMatriz,
#btnCopiarCodigoHex,
form.matriz button.quitarMatriz,
form.matriz input[type="checkbox"] {
    cursor: pointer;
}

form.matriz {
    float: left;
    border-color: #ccc;
    border-style: dotted;
    border-width: 1px;
}

form.matriz thead {
    background: #f4f4f4;
}

form.matriz thead input.caracterHex {
    width: 99%;
}

form.matriz span.orden {
    text-align: center;
    display: block;
}

form.matriz tr.a {
    background-color: #BFFFE8;
}

form.matriz tr.b {
    background-color: #F9ECD0;
}

form.matriz input.led[type="checkbox"],
form.matriz input.total[type="text"] {

    width: 20px;
    height: 20px;
}

form.matriz input.total[type="text"] {
    border: none;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}