<form class="matriz">
    <table>
        <thead>
            <tr>
                <td></td>
                <td colspan="8">
                    <input type="text" value="" maxlength="16" class="caracterHex">
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="a">
                <th>
                    a<sub>1</sub> = 1
                </th>
                <td><input type="checkbox" value="1" data-columna="0" data-fila="0" class="led a"></td>
                <td><input type="checkbox" value="1" data-columna="1" data-fila="0" class="led a"></td>
                <td><input type="checkbox" value="1" data-columna="2" data-fila="0" class="led a"></td>
                <td><input type="checkbox" value="1" data-columna="3" data-fila="0" class="led a"></td>
                <td><input type="checkbox" value="1" data-columna="4" data-fila="0" class="led a"></td>
                <td><input type="checkbox" value="1" data-columna="5" data-fila="0" class="led a"></td>
                <td><input type="checkbox" value="1" data-columna="6" data-fila="0" class="led a"></td>
                <td><input type="checkbox" value="1" data-columna="7" data-fila="0" class="led a"></td>
            </tr>
            <tr class="a">
                <th>
                    a<sub>2</sub> = 2
                </th>
                <td><input type="checkbox" value="2" data-columna="0" data-fila="1" class="led a"></td>
                <td><input type="checkbox" value="2" data-columna="1" data-fila="1" class="led a"></td>
                <td><input type="checkbox" value="2" data-columna="2" data-fila="1" class="led a"></td>
                <td><input type="checkbox" value="2" data-columna="3" data-fila="1" class="led a"></td>
                <td><input type="checkbox" value="2" data-columna="4" data-fila="1" class="led a"></td>
                <td><input type="checkbox" value="2" data-columna="5" data-fila="1" class="led a"></td>
                <td><input type="checkbox" value="2" data-columna="6" data-fila="1" class="led a"></td>
                <td><input type="checkbox" value="2" data-columna="7" data-fila="1" class="led a"></td>
            </tr>
            <tr class="a">
                <th>
                    a<sub>3</sub> = 4
                </th>
                <td><input type="checkbox" value="4" data-columna="0" data-fila="2" class="led a"></td>
                <td><input type="checkbox" value="4" data-columna="1" data-fila="2" class="led a"></td>
                <td><input type="checkbox" value="4" data-columna="2" data-fila="2" class="led a"></td>
                <td><input type="checkbox" value="4" data-columna="3" data-fila="2" class="led a"></td>
                <td><input type="checkbox" value="4" data-columna="4" data-fila="2" class="led a"></td>
                <td><input type="checkbox" value="4" data-columna="5" data-fila="2" class="led a"></td>
                <td><input type="checkbox" value="4" data-columna="6" data-fila="2" class="led a"></td>
                <td><input type="checkbox" value="4" data-columna="7" data-fila="2" class="led a"></td>
            </tr>
            <tr class="a">
                <th>
                    a<sub>4</sub> = 8
                </th>
                <td><input type="checkbox" value="8" data-columna="0" data-fila="3" class="led a"></td>
                <td><input type="checkbox" value="8" data-columna="1" data-fila="3" class="led a"></td>
                <td><input type="checkbox" value="8" data-columna="2" data-fila="3" class="led a"></td>
                <td><input type="checkbox" value="8" data-columna="3" data-fila="3" class="led a"></td>
                <td><input type="checkbox" value="8" data-columna="4" data-fila="3" class="led a"></td>
                <td><input type="checkbox" value="8" data-columna="5" data-fila="3" class="led a"></td>
                <td><input type="checkbox" value="8" data-columna="6" data-fila="3" class="led a"></td>
                <td><input type="checkbox" value="8" data-columna="7" data-fila="3" class="led a"></td>
            </tr>
            <!--  -->
            <tr class="b">
                <th>
                    b<sub>1</sub> = 1
                </th>
                <td><input type="checkbox" value="1" data-columna="0" data-fila="4" class="led b"></td>
                <td><input type="checkbox" value="1" data-columna="1" data-fila="4" class="led b"></td>
                <td><input type="checkbox" value="1" data-columna="2" data-fila="4" class="led b"></td>
                <td><input type="checkbox" value="1" data-columna="3" data-fila="4" class="led b"></td>
                <td><input type="checkbox" value="1" data-columna="4" data-fila="4" class="led b"></td>
                <td><input type="checkbox" value="1" data-columna="5" data-fila="4" class="led b"></td>
                <td><input type="checkbox" value="1" data-columna="6" data-fila="4" class="led b"></td>
                <td><input type="checkbox" value="1" data-columna="7" data-fila="4" class="led b"></td>
            </tr>
            <tr class="b">
                <th>
                    b<sub>2</sub> = 2
                </th>
                <td><input type="checkbox" value="2" data-columna="0" data-fila="5" class="led b"></td>
                <td><input type="checkbox" value="2" data-columna="1" data-fila="5" class="led b"></td>
                <td><input type="checkbox" value="2" data-columna="2" data-fila="5" class="led b"></td>
                <td><input type="checkbox" value="2" data-columna="3" data-fila="5" class="led b"></td>
                <td><input type="checkbox" value="2" data-columna="4" data-fila="5" class="led b"></td>
                <td><input type="checkbox" value="2" data-columna="5" data-fila="5" class="led b"></td>
                <td><input type="checkbox" value="2" data-columna="6" data-fila="5" class="led b"></td>
                <td><input type="checkbox" value="2" data-columna="7" data-fila="5" class="led b"></td>
            </tr>
            <tr class="b">
                <th>
                    b<sub>3</sub> = 4
                </th>
                <td><input type="checkbox" value="4" data-columna="0" data-fila="6" class="led b"></td>
                <td><input type="checkbox" value="4" data-columna="1" data-fila="6" class="led b"></td>
                <td><input type="checkbox" value="4" data-columna="2" data-fila="6" class="led b"></td>
                <td><input type="checkbox" value="4" data-columna="3" data-fila="6" class="led b"></td>
                <td><input type="checkbox" value="4" data-columna="4" data-fila="6" class="led b"></td>
                <td><input type="checkbox" value="4" data-columna="5" data-fila="6" class="led b"></td>
                <td><input type="checkbox" value="4" data-columna="6" data-fila="6" class="led b"></td>
                <td><input type="checkbox" value="4" data-columna="7" data-fila="6" class="led b"></td>
            </tr>
            <tr class="b">
                <th>
                    b<sub>4</sub> = 8
                </th>
                <td><input type="checkbox" value="8" data-columna="0" data-fila="7" class="led b"></td>
                <td><input type="checkbox" value="8" data-columna="1" data-fila="7" class="led b"></td>
                <td><input type="checkbox" value="8" data-columna="2" data-fila="7" class="led b"></td>
                <td><input type="checkbox" value="8" data-columna="3" data-fila="7" class="led b"></td>
                <td><input type="checkbox" value="8" data-columna="4" data-fila="7" class="led b"></td>
                <td><input type="checkbox" value="8" data-columna="5" data-fila="7" class="led b"></td>
                <td><input type="checkbox" value="8" data-columna="6" data-fila="7" class="led b"></td>
                <td><input type="checkbox" value="8" data-columna="7" data-fila="7" class="led b"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="a">
                <th>
                    a<sub>&sum;</sub>
                </th>
                <td><input type="text" value="0" readonly data-columna="0" class="total a"></td>
                <td><input type="text" value="0" readonly data-columna="1" class="total a"></td>
                <td><input type="text" value="0" readonly data-columna="2" class="total a"></td>
                <td><input type="text" value="0" readonly data-columna="3" class="total a"></td>
                <td><input type="text" value="0" readonly data-columna="4" class="total a"></td>
                <td><input type="text" value="0" readonly data-columna="5" class="total a"></td>
                <td><input type="text" value="0" readonly data-columna="6" class="total a"></td>
                <td><input type="text" value="0" readonly data-columna="7" class="total a"></td>
            </tr>
            <tr class="b">
                <th>
                    b<sub>&sum;</sub>
                </th>
                <td><input type="text" value="0" readonly data-columna="0" class="total b"></td>
                <td><input type="text" value="0" readonly data-columna="1" class="total b"></td>
                <td><input type="text" value="0" readonly data-columna="2" class="total b"></td>
                <td><input type="text" value="0" readonly data-columna="3" class="total b"></td>
                <td><input type="text" value="0" readonly data-columna="4" class="total b"></td>
                <td><input type="text" value="0" readonly data-columna="5" class="total b"></td>
                <td><input type="text" value="0" readonly data-columna="6" class="total b"></td>
                <td><input type="text" value="0" readonly data-columna="7" class="total b"></td>
            </tr>
        </tfoot>
    </table>
</form>